body {
  font-family: "Bellefair", serif;
  background-image: url(/public/books.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center;
}

.header,
.footer {
  backdrop-filter: blur(5px);
  background-color: rgba(249, 173, 81, 0.2);
  position: fixed;
  width: 100%;
  height: 60px;

  text-align: center;
}
.header {
  top: 0;
  left: 0;
}
.footer {
  bottom: 0;
  left: 0;
}
.footer a {
  color: aliceblue;
}
#container-zero {
  margin-bottom: 15%;
}
#container-1 {
  border-radius: 15px;
  border-style: solid;
  border-color: #ff7b19;
  border-width: 1.5px;
  backdrop-filter: blur(5px);
  max-width: 600px;
  top: 10%;
  left: 3%;
  right: 3%;
  padding: 3%;
  margin-bottom: 5%;
}
@media (max-width: 280px) {
  #container-1 {
    max-width: 400px;
  }
}
