.Nascent-wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 60px;
  width: 100%;
  top: 2%;
  left: 0;
  z-index: 0;
}
.cube-n {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  transform: rotate(20deg);
  border-style: groove;
  border-color: brown;
  background-color: #650015;
  color: white;
  height: 40px;
  width: 40px;
  text-align: center;
  box-shadow: 1px 1px #813548, 2px 2px#66001A, 3px 3px #66001a, 4px 4px #410111,
    5px 5px #410111, 6px 6px #410111, 7px 7px #410111, 8px 8px #150408;
}

.nascent-number {
  font-size: 0.75rem;
  position: fixed;
  bottom: -5px;
  right: 0;
}
.cube-n,
.word-nascent,
.nascent-definition {
  color: white;
}
.partOfSpeech-nascent {
  color: yellow;
}
.word-nascent,
.partOfSpeech-nascent {
  font-size: 1.75rem;
  margin-left: 3%;
  padding: 3px;
  text-shadow: 1px 1px 2px rgb(31, 5, 9);
}
.nascent-definition {
  padding: 3px;
  line-height: 18px;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px rgb(31, 5, 9);
  margin-left: 10px;
}

.nascent-adj {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 280px) {
  .Nascent-wrapper {
    top: 1.5%;
  }
  .word-nascent,
  .partOfSpeech-nascent,
  .nascent-definition {
    font-size: 0.8rem;
  }
  .nascent-adj {
    flex-direction: column;
    line-height: 10px;
  }
  .nascent-definition {
    line-height: 13px;
    max-width: 45%;
  }
  .cube-n {
    font-size: 18px;
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px #813548, 2px 2px#66001A, 3px 3px #66001a,
      4px 4px #410111, 5px 5px #410111, 6px 6px #150408;
  }
  .nascent-number {
    font-size: 0.6rem;
  }
}
@media (min-width: 300px) and (max-width: 750px) {
  .nascent-adj {
    line-height: 15px;
    flex-direction: column;
  }
  .nascent-definition {
    max-width: 50%;
    line-height: 17px;
  }
}
@media (min-width: 751px) {
  .nascent-definition {
    max-width: 55%;
    line-height: 25px;
  }
}
