header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 5%;
  left: 0;
  top: 0;
  z-index: 0;
}
.cube-n {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  transform: rotate(20deg);
  border-style: groove;
  border-color: brown;
  background-color: #650015;
  color: white;
  height: 40px;
  width: 40px;
  text-align: center;
  box-shadow: 1px 1px #813548, 2px 2px#66001A, 3px 3px #66001a, 4px 4px #410111,
    5px 5px #410111, 6px 6px #410111, 7px 7px #410111, 8px 8px #150408;
}
.Nascent {
  margin-top: 1.5%;
  margin-left: 2%;
  margin-right: 1%;
}
.nascent-number {
  font-size: 0.75rem;
  position: fixed;
  bottom: -5px;
  right: 0;
}
.cube-n,
.word-nascent,
.nascent-definition {
  color: white;
}
.partOfSpeech-nascent {
  color: yellow;
}
.word-nascent,
.partOfSpeech-nascent {
  font-size: 1.4rem;
  margin-left: 3%;
  padding: 3px;
  text-shadow: 1px 1px 2px rgb(31, 5, 9);
}
.nascent-definition {
  padding: 3px;
  line-height: 18px;
  font-size: 1rem;
  text-shadow: 1px 1px 2px rgb(31, 5, 9);
}
.word-nascent,
.nascent-definition {
  margin-left: 10px;
}
.nascent-adj {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 280px) {
  .cube-n {
    height: 20px;
    width: 20px;
    font-size: 15px;
  }
  .Nascent {
    margin-top: 5%;
    margin-right: 3%;
  }
  .word-nascent,
  .partOfSpeech-nascent {
    font-size: 1rem;
  }
  .nascent-definition {
    text-align: center;
    margin-left: 0;
    font-size: 0.9rem;
    line-height: 16px;
  }
}
@media (max-width: 414px) {
  .word-nascent,
  .partOfSpeech-nascent {
    font-size: 1.25rem;
  }
  .nascent-adj {
    flex-direction: column;
    line-height: 15px;
  }
  .partOfSpeech-nascent {
    padding: 0;
    margin: 0;
    line-height: 20px;
  }
  .nascent-definition {
    max-width: 55%;
    font-size: 1rem;
    text-align: center;
  }
  .cube-n {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    box-shadow: 1px 1px #813548, 2px 2px#66001A, 3px 3px #66001a,
      4px 4px #410111, 5px 5px #410111, 6px 6px #150408;
  }
  .nascent-number {
    font-size: 0.5rem;
    bottom: -3px;
    right: 0;
  }
}

@media (min-width: 415px) and (max-width: 540px) {
  .nascent-definition {
    font-size: 1.25rem;
    max-width: 45%;
    text-align: center;
  }
  .cube-n {
    margin-bottom: 6%;
  }
}
@media (min-width: 768px) and (max-width: 912px) {
  .nascent-definition {
    font-size: 1.8rem;
    max-width: 50%;
    line-height: 30px;
    text-align: center;
  }
  .cube-n {
    width: 60px;
    height: 60px;
    font-size: 40px;
  }
  .nascent-number {
    font-size: 1rem;
  }

  .word-nascent,
  .partOfSpeech-nascent {
    font-size: 2.5rem;
  }
}
@media (min-width: 915px) {
  .nascent-definition {
    font-size: 1.8rem;
    max-width: 30%;
    line-height: 30px;
    text-align: center;
  }
  .word-nascent,
  .partOfSpeech-nascent {
    font-size: 2.5rem;
  }
  .cube-n {
    margin-right: 1%;
    margin-bottom: 1%;
    width: 50px;
    height: 50px;
    font-size: 2.4rem;
    box-shadow: 1px 1px #813548, 2px 2px#66001A, 3px 3px #66001a,
      4px 4px #410111, 5px 5px #410111, 6px 6px #410111, 7px 7px #410111,
      8px 8px #150408;
  }
  .nascent-number {
    font-size: 1rem;
    bottom: -3px;
    right: 0;
  }
}
