.Letters {
  position: absolute;
}
.cube-c,
.cube-t,
.cube-o,
.cube-y {
  border-style: groove;
  border-color: brown;
  background-color: #650015;
  color: white;
  height: 50px;
  width: 50px;
  position: relative;
  font-size: 30px;
  text-align: center;
  box-shadow: 1px 1px #813548, 2px 2px#66001A, 3px 3px #66001a, 4px 4px #410111,
    5px 5px #410111, 6px 6px #410111, 7px 7px #410111, 8px 8px #150408;
}

.cube-c {
  top: -65px;
  left: 30px;
  font-size: 30px;
  transform: rotate(20deg);
}
.cube-t {
  top: 10px;
  left: -40px;
  font-size: 30px;
  transform: rotate(10deg);
}

.cube-o {
  top: 180px;
  left: 600px;
  font-size: 30px;
  transform: rotate(10deg);
}

.cube-y {
  top: -350px;
  right: 40px;
  font-size: 30px;
  transform: rotate(10deg);
}

.Oracy {
  position: relative;
  left: 700px;
  top: 130px;
}

.Yield {
  position: relative;
  left: -60px;
  bottom: 330px;
}

.partOfSpeech-oracy,
.partOfSpeech-yield {
  color: yellow;
  font-size: 30px;
  padding-left: 10px;
}
.speech-marks {
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}
.speech-marks,
.word-oracy,
.oracy-definition,
.word-yield,
.yield-definition {
  color: white;
}
.word-oracy,
.word-yield {
  font-size: 2rem;
}
.number {
  font-size: 1rem;
  position: fixed;
  bottom: -5px;
  right: 0;
}
