.meaning {
  margin-top: 2%;
  padding: 2%;
  background-color: #f6f4f2;
  border-radius: 15px;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  border-style: outset;
  border-color: brown;
}
.meaning h2 {
  text-decoration: underline;
}
@media (max-width: 414px) {
  .meaning-partOfSpeech {
    font-size: 1.25rem;
  }
}
