.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-one {
  margin-top: 10%;
}
.photos-data {
  margin: 0;
  padding: 0;
}
.photo {
  border-style: solid;
  border-color: #6f3003;
  border-radius: 10px;
}
img {
  margin: 1%;
}
.image-one,
.image-two,
.image-three,
.image-four {
  width: 80%;
  aspect-ratio: 1/1;
  border-style: solid;
  border-color: #6f3003;
  border-radius: 10px;
  margin-bottom: 5%;
}
.cube {
  border-style: groove;
  border-color: brown;
  background-color: #650015;
  color: white;
  height: 50px;
  width: 50px;
  margin: 10% auto;
  font-size: 30px;
  opacity: 0.6;

  text-align: center;

  box-shadow: 1px 1px #813548, 2px 2px#66001A, 3px 3px #66001a, 4px 4px #410111,
    5px 5px #410111, 6px 6px #410111, 7px 7px #410111, 8px 8px #150408;
}

.word-number {
  font-size: 1rem;
  position: fixed;
  bottom: -5px;
  right: 0;
}
.w,
.d {
  transform: rotate(20deg);
}
.o {
  transform: rotate(-20deg);
}
.r {
  transform: rotate(5deg);
}
@media (max-width: 400px) {
  .cube {
    height: 35px;
    width: 35px;
  }
  .word-number {
    font-size: 0.55rem;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .letter-w,
  .letter-o,
  .letter-r,
  .letter-d {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
}
