.wordAndPhonetics {
  margin-top: 2%;
  background-color: #f6f4f2;
  border-radius: 15px;
  border-style: outset;
  border-color: brown;
}

@media (max-width: 414px) {
  .word,
  .phonetics {
    font-size: 1.25rem;
    margin-top: 2%;
  }
}
